* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.allitems {
  width: 200px;

  background-color: #add8e6;
}

.Selecteditems {
  width: 200px;

  background-color: #f08080;
}

.App {
  display: flex;
  justify-content: center;
}

h3 {
  padding: 10px;
  border-bottom: 1px solid rgb(192, 168, 168);
  font-weight: bold;
}

div {
  padding: 5px;
  text-align: center;
}
